<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>Metricstools</title>
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet">
    <link href="stylesheets/metrictools.css" media="screen" rel="stylesheet">
    <link href="stylesheets/nv.d3.css" media="screen" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button"></button>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <a class="navbar-brand" href="/">Metrictools</a>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/host">Host</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- nav -->
    <header class="umbotron subhead" id="overview">
      <div class="container">
        <h1>Metictools</h1>
        <p class="lead">metric data tools.</p>
      </div>
      <!-- host header -->
    </header>
    <div class="container">
      <section id="monitorapp">
        <section id="main">
          <label>Hostname:</label>
          <input id="search-host" placeholder="Hostname" class="search-query" autofocus>
          <!-- search host -->
        </section>
        <!-- main -->
        <section id="hostmetric">
          <div class="col-md-3">
            <ul id="metric_list"></ul>
          </div>
        </section>
        <!-- host's metrics -->
        <section id="metricgraphic">
          <div class="col-md-9">
            <div id="chart" style="display:none">
              <svg style="height: 400px"></svg>
              <a class="btn btn-lg btn-info" href="#refresh" id="refreshmetrics">Refesh</a>
              <a class="btn btn-lg btn-warning" href="#reset" id="resetmetrics">Reset</a>
            </div>
          </div>
        </section>
        <!-- host monitor dashboard -->
      </section>
    </div>

    <script type="text/template" id="hostmetric-template">
      <div class="view">
        <a href="#/metric/<%= name%>" id="<%= type %>" class="toggle"><%= name %></a>
      </div>
    </script>

    <script src="bower_components/jquery-2.0.3.js"></script>
    <script src="bower_components/jquery.quicksearch.js"></script>
    <script src="bower_components/bootstrap.js"></script>
    <script src="bower_components/underscore.js"></script>
    <script src="bower_components/backbone.js"></script>
    <script src="bower_components/backbone.localStorage.js"></script>
    <script src="bower_components/d3.js"></script>
    <script src="bower_components/nv.d3.js"></script>
    <script src="js/models/hostmetric.js"></script>
    <script src="js/models/metric.js"></script>
    <script src="js/collections/hostmetrics.js"></script>
    <script src="js/collections/metrics.js"></script>
    <script src="js/views/hostmetric.js"></script>
    <script src="js/views/metric.js"></script>
    <script src="js/views/monitor.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
